<p id="notice"><%= notice %></p>

<%= form_tag articles_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<h1>Listing Articles</h1>

<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Abstract</th>
      <th>Content</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each_hit_with_result do |hit,article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.abstract %></td>
        <td>
          <% content = article.content %>
          <% hit.highlights(:content).each do |highlight| %>
            <% partial_original = highlight.format { |word| word } %>
            <% partial_formatted = highlight.format { |word| "<span class='highlight'>#{word}</span>" } %>
            <% content = content.gsub(partial_original,partial_formatted).html_safe %>
          <% end %>
          <%= content %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
